@model IFS_Weather.Models.UserModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {
            background-image: url(../../assests/blur.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            color:white;
            padding:30px
        }

        #main {
            height: 600px;
            width: 1200px;
            background-image: url(../../assests/manzara.jpg);
            border-radius: 15px;
            margin: 30px auto auto auto;
            background-size: cover;
            background-repeat: no-repeat;
            border-color: black;
            border-width: 20px;
            justify-content: flex-end;
            align-items: flex-end;
            vertical-align: bottom
        }

        .header {
            height: 350px;
        }

        .weatherInfoHeader {
            height: 50px;
            padding-left: 5px;
            padding-top: 210px
        }

        .weatherinfo {
            height: 200px;
            width: 1200px;
            background-color: black;
            opacity: 0.5;
            border-radius: 0 0 15px 15px;
            flex-direction: row;
        }

        .profile-card {
            padding-top: 30px;
            width: 800px
        }

        .profile-info {
            width: 800px
        }
         .parent-style-one a {
            text-decoration: none;
            color: white
        }
    </style>
</head>
<body>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DefaultCityName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefaultCityName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>
    </div>
    <p class="parent-style-one">
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
        @Html.ActionLink("Geri", "UserManagement")
    </p>

</body>
</html>
