@model List<IFS_Weather.Models.WeatherModel>
<!DOCTYPE html>
<html>
<head>
    <title></title>
   
</head>
<body>
    <div class="navbar navbar-light navbar-fixed-top">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="~/Views/Home/Index.cshtml" style="color: black;">Ana Sayfa <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="#" style="color:black;">Profil</a>
                </li>
                <li>
                    <a href="LogOut" style="color:black">Çıkış Yap</a>
                </li>
            </ul>
        </div>
    </div>
    <div style="background-color:#d8d5d5;height:auto;width:650px;border-radius:25px;padding:15px">
        @* @Model[0].CityName*@
        @foreach (var item in Model)
        {

            <h2>@item.CityName</h2>
            <h5>@item.WeatherDate.ToString("dddd", new System.Globalization.CultureInfo("tr-TR"))</h5>
            <h5>@item.MainStatus</h5>
            <div>
                <div style="float:left;">
                    <img src="@item.IconPath" style="border-radius:8px" />
                </div>
                <div style="float:left;margin-left:20px">
                    <h3>@item.Temperature °C</h3>
                </div>
            </div>
            <br /><br /><br />
            <hr />

        }
    </div>



</body>
</html>

