@model IEnumerable<IFS_Weather.Models.WeatherModel>

@{
    ViewBag.Title = "Index";
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body style="padding:20px">
        <div>
            @Html.ActionLink("Geri", "Admin")
        </div>
        <h2>Weather Management</h2>
        <p>
            <a class="btn btn-default" href="#" style="color: darkviolet; align-items:flex-end" data-toggle="modal" data-target="#modalcreate">Yeni Kayıt!</a>
        </p>
        @using (Html.BeginForm())
        {
            <p>
                @Html.TextBox("SearchString")
                <input type="submit" value="Ara" />
            </p>
        }
        <div style="float:right">
            <img src="~/assests/sıralama.png" style="width:10px;height:10px;" />
            @Html.ActionLink("Şehir", "WeatherManagement", new { sortOrder = ViewBag.NameSortParm }) |


            @Html.ActionLink("Tarih", "WeatherManagement", new { sortOrder = ViewBag.DateSortParm })
        </div>


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WeatherDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Temperature)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IconPath)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeatherDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Temperature)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainStatus)
                    </td>
                    <td>
                        <img src="@item.IconPath" style="height:64px;width:64px;" />

                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditWeather", new { id = item.WeatherId }) |
                        @Html.ActionLink("Details", "DetailsWeather", new { id = item.WeatherId }) |
                        @Html.ActionLink("Delete", "DeleteWeather", new { id = item.WeatherId })
                    </td>
                </tr>
            }

        </table>

        <!-- Modal create -->
        <div class="modal fade" style="margin-top:40px;" id="modalcreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background:url(../../assests/sky.jpg);background-size:cover;background-repeat:no-repeat;">
                    <div class="modal-header">
                        <center>
                            <img src="~/images/avatar.png" style="border-radius:50%;z-index: 9;margin-top: -40px; width:100px; height:100px;" />

                        </center>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color:black">&times;</span>
                        </button>
                        <center>
                            <h3 class="modal-title" style="margin-top:20px;color:black;font-weight:bold;justify-content:center;align-items:center">Üye Ol</h3>
                        </center>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("CreateWeather", "Home", FormMethod.Get))
                        {
                            <form>
                                <center>
                                    <input type="date" style="border:none; width:100%" name="date" placeholder="Tarih" required />
                                    <select name="cityName" class="btn btn-primary dropdown-toggle" style="width:280px;border-radius:15px;height:50px;background-color:#F1F1F1;color:gray" type="button" required>
                                        <option value="">Şehir Seçin</option>
                                        <option value="istanbul">İstanbul</option>
                                        <option value="izmir">İzmir</option>
                                        <option value="ankara">Ankara</option>
                                        <option value="sakarya">Sakarya</option>
                                    </select>
                                    <br />
                                    <button style="align-items:flex-start;margin-top:5px" class="button" type="submit">Veriyi çek</button>
                                    <br />
                                </center>
                            </form>
                        }

                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
